@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  padding-top: 70px;
  font-family: 'Montserrat', "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#logo-container {
	margin: auto;
  margin-bottom: 10px;
  background-size: contain; 
  width:170px;
  height:170px;
	background-image: url("../img/redient2.gif");
}

.hover_cursor:hover {
	cursor: pointer
}

#cal-heatmap {
	background-color: #fff;
	padding: 0;
	margin-top: 20px;
}

.navbar-brand>img {
  max-height: 50px;
 max-width: 50px;
  margin-top: -13px;

}
.progress {
  height: 40px;
}
.date {
  display: block;
  text-align: right;

  margin-right: 0px;
}

.neutral {
    background-color: #fcf8e3;
    border-color: #faebcc;

}

.up {
  background-color: #dff0d8;
    border-color: #d6e9c6;
}

.down {
  background-color: #f2dede;
    border-color: #ebccd1;
}

.hide {
  display: none;
}


.jumbotron {
  color: #AB2121;
  background-color: #FF9494;
}

#pos{
  width: 10%;
}
#neg{
  width: 10%;
}

.pop {
  font-size: 100px;
}

#big {
  background-color: white;
}

div.well{
  height: 250px;
}
.err {
    border: red solid 1px;
 }

.selected {
  box-shadow: 0 0 10px blue;


}

.progress-bar-danger{
  background-color: #AB2121;
}
.box {
  border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
#sent {
  border: 5px;
  border-style: solid;
  border-color: #FF9494;
  background-color: white;
}

#des {
  font-style: italic;
}

li {
  list-style: none;
}
#cloud {
  margin-left: auto;
  margin-right: auto;
} 

#c {
   border: 5px;
  border-style: solid;
  border-color: #AB2121;
  background-color: white;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 70%;
  min-width: 500px;
  max-width: 700px;
  padding: 40px;
}

.form-control {
	height: 50px;
}

a:hover{
  text-decoration: none;
}
#submit {
	height: 40px;
}

/*
#border {
  border: 2px white solid;
  width: 50%;
  padding: 5%;
}
*/

h3 {
  text-align: center;
}
#url-input {
  height: 34px;
}

.glyphicon {
  color: #AB2121;
}

#topics {
  background-color: blue;
}

#otheridk {
  background-color: green;
}

#article {
   background-color: #FF9494;
}

#cloud {
  height: 300px;
  width:100%;
}
