@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  padding-top: 70px;
  font-family: 'Montserrat', "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#logo-container {
	margin: auto;
  margin-bottom: 10px;
  background-size: contain; 
  width:170px;
  height:170px;
	background-image: url("../img/redient2.gif");
}

.navbar-brand>img {
  max-height: 50px;
 max-width: 50px;
  margin-top: -13px;

}


.jumbotron {
  color: #AB2121;
  background-color: #FF9494;
}

#big {
  background-color: white;
}

div.well{
  height: 250px;
}
.err {
    border: red solid 1px;
 }

.selected {
  box-shadow: 0 0 10px blue;


}

#des {
  font-style: italic;
}

li {
  list-style: none;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%; 
  height: 70%;
  min-width: 500px;
  max-width: 700px;
  padding: 40px;
}

.form-control {
	height: 50px;
}

a:hover{
  text-decoration: none;
}
#submit {
	height: 40px;
}

/*
#border {
  border: 2px white solid;
  width: 50%;
  padding: 5%;
}
*/

h3 {
  text-align: center;
}
#url-input {
  height: 34px;
}

.glyphicon {
  color: #AB2121;
}

#topics {
  background-color: blue;
}

#otheridk {
  background-color: green;
}

#article {
   background-color: #FFB9B9;
}

#cloud {
  width:100%;
}
